[Desktop Entry]
Type=Application
Name=KakaoTalk
Name[ko]=카카오톡
Comment=KakaoTalk (ARM64EC Wine)
Exec=kakaotalk
Icon=kakaotalk
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=kakaotalk.exe
